image: ruby:2.4.2
before_script:
  - cd reddit
  - bundle install 
stages:
  - build
  - test
  - review
  - deploy
variables:
 DATABASE_URL: 'mongodb://mongo/user_posts'

build_job:
  stage: build
  script:
    - echo 'Building'

test_unit_job:
  stage: test
  services:
    - mongo:latest
 script:
    - ruby simpletest.rb
  script:
    - echo 'Testing 1'

test_integration_job:
  stage: test
  script:
    - echo 'Testing 2'

deploy_dev_job:
  stage: review
  script:
    - echo 'Deploy'
 environment:
   name: dev
   url: http://dev.example.com
